<% include ../layouts/header %>

<% var precoTotal = 0.00 %>
<div class="d-flex justify-content-between align-items-center">
    <h2>Listas de Compras</h2>
    <a href="/listas/new" class="btn btn-info">Nova Lista</a>
</div>
<hr>
<div class="row mt-5 justify-content-center">
    <% listas.forEach( lista => { %>
        <div class="col-8">
            <div class="card text-white bg-primary mb-3">
                <div class="card-header d-flex justify-content-between align-items-start">
                    <div class="">
                        <h3 class="h4"><%= lista.name %></h3>
                        <p class="h5 text-muted"><%= lista.store %></p>
                    </div>
                    <div class="">
                        <a href="/listas/<%= lista._id %>/edit" class="btn btn-info btn-sm font-weight-bold">Editar Lista</a>
                        <form action="/listas/<%= lista._id %>?_method=DELETE" method="POST" class="d-inline-block ml-2">
                            <button type="submit" class="btn btn-danger btn-sm font-weight-bold">Deletar Lista</button>
                        </form>
                    </div>
                </div>
                <div class="card-body text-center">
                    <% if(lista.itens.length < 1){ %>
                        <div class="alert alert-danger">
                            Nenhum item encontrado. Adicione itens clicando no botão abaixo.
                        </div>
                    <% } else { %>
                        <ul class="list-group text-primary">
                            <!--ORDENA OS ITENS PELA CATEGORIA-->
                            <% lista.itens = lista.itens.sort(function (a, b) {
                                var catA = a.category.toUpperCase(); // ignore upper and lowercase
                                var catB = b.category.toUpperCase(); // ignore upper and lowercase
                                if (catA < catB) {
                                    return -1;
                                }
                                if (catA > catB) {
                                    return 1;
                                }
                                // names must be equal
                                return 0;
                            }) %>
                            <!-- ./END -->
                            
                            <% lista.itens.forEach(item => { %>
                            <% if(!item.price === 0.01) precoTotal += item.price %>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <%= item.name %>
                                    <div>
                                        <span class="badge badge-primary px-3 py-2">R$ <%= item.price %></span>
                                        <span class="badge badge-primary px-3 py-2"><%= item.amount %> un</span>
                                        <span class="badge badge-dark px-3 py-2"><%= item.category %></span>
                                        <a href="/lista/<%= lista._id %>/item/<%= item._id %>/edit" class="btn btn-info btn-sm ml-2">EDT</a>
                                        <form action="/listas/<%= lista._id %>/itens/<%= item.name %>?_method=DELETE" method="POST" class="d-inline-block ml-2">
                                            <button type="submit" class="btn btn-danger btn-sm font-weight-bold">X</button>
                                        </form>
                                    </div>
                                </li>
                            <% }) %>
                        </ul>
                    <% } %>
                    <a href="/listas/<%= lista._id %>/itens/add" class="btn btn-success mt-3 px-3"><strong>ADD ITENS</strong></a>
                    <form action="/listas/<%= lista._id %>/itens?_method=DELETE" method="POST" class="d-inline-block ml-2">
                        <button type="submit" class="btn btn-danger font-weight-bold mt-3 px-3">DEL TODOS</button>
                    </form>
                </div>
                <div class="card-footer text-center text-muted">
                    <p class="h4 mb-0"><strong>Preço total: </strong> <span class="text-info">R$ <%= precoTotal %></span></p>
                </div>
            </div>
        </div>
    <% }) %>
</div>

<% include ../layouts/footer %>