<!DOCTYPE html>
<html>

<head>
   <meta charset="utf-8">
   <title>App Lista de Compras</title>
   <link rel="shortcut icon" href="favicon.ico" />
   <link rel="stylesheet" href="/css/style.css">
   <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">
</head>

<body>
   <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-2 px-5 mb-5">
      <a class="navbar-brand" href="/">ShoppingList App</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02"
         aria-expanded="false" aria-label="Toggle navigation">
         <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor02">
         <ul class="navbar-nav mr-auto">
            <li class="nav-item <%= title === 'Home' ? 'active' : '' %>">
               <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item <%= title === 'Lista Itens' ? 'active' : '' %>">
               <a class="nav-link" href="/itens">Lista Itens</a>
            </li>
            <li class="nav-item <%= title === 'Listas de Compras' ? 'active' : '' %>">
               <a class="nav-link" href="/listas">Listas de Compras</a>
            </li>
            <li class="nav-item <%= title === 'Categorias' ? 'active' : '' %>">
               <a class="nav-link" href="/categorias">Categorias</a>
            </li>
            <li class="nav-item <%= title === 'Gerenciar Categorias' ? 'active' : '' %>">
               <a class="nav-link" href="/categorias/gerenciar">Gerenciar Categorias</a>
            </li>
         </ul>
         <ul class="navbar-nav mr-0">
            <% if(user){ %>
               <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
            <% } else { %>
               <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
               <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
            <% }; %>
         </ul>
      </div>
   </nav>

   <div class="container">
      <!-- MENSAGENS DE SUCESSO -->
      <% if(!isEmpty(success_msg)){ %>
         <div class="alert alert-success"><%= success_msg %></div>
      <% }; %>
      <!-- MENSAGENS DE ERRO -->
      <% if(!isEmpty(error_msg)){ %>
         <div class="alert alert-danger"><%= error_msg %></div>
      <% }; %>
      <% if(!isEmpty(error)){ %>
         <div class="alert alert-danger"><%= error %></div>
      <% }; %>
      <!-- MENSAGENS DE VALIDAÇÃO FORMULÁRIO -->
      <% if(typeof errors !== 'undefined'){ %>
         <% errors.forEach( error => { %>
            <div class="alert alert-danger"><%= error.msg %></div>
         <% }); %>
      <% }; %>

