<% include ../layouts/header %>

<div class="row">
	<div class="col-4">
		<h2><%= title %></h2>
		<form method="post" action="<%= typeof item === 'undefined' ? '/itens/add' : '/itens/edit/'+item._id+'?_method=PUT' %>">
			<div class="form-group">
				<label>Nome</label>
				<% if(typeof item === 'undefined'){ %>
					<input class="form-control" type="text" name="name" placeholder="Nome">
				<% } else { %>
					<input class="form-control" type="text" name="name" value="<%= item.name %>">
				<% } %>
			</div>
		  <div class="form-group">
				<label>Categoria</label>
				<% if(typeof item === 'undefined'){ %>
					<select class="custom-select" name="category">
						<option value="">- selecione a categoria -</option>
						<% categories.forEach( category => { %>
							<option value="<%= category.title %>"><%= category.title %></option>
						<% }) %>
					</select>
				<% } else { %>
					<select class="custom-select" name="category">
						<% categories.forEach( category => { %>
							<% if(item.category == category.title){ %>
								<option selected value="<%= category.title %>"><%= category.title %></option>
							<% } %>
							<option  value="<%= category.title %>"><%= category.title %></option>
						<% }) %>
					</select>
				<% } %>
			</div>
			<button class="btn btn-primary" type="submit">Salvar</button>
		</form>
		<p>
			<a href="/itens" class="text-info">Voltar</a>
		</p>
	</div>
</div>

<% include ../layouts/footer %>

		<!--<div class="form-group">-->
		<!--   <label>Quantidade</label>-->
		<!--   <input class="form-control" type="number" name="amount" placeholder="Quantidade">-->
		<!--</div>-->
		<!--<div class="form-group">-->
		<!--   <label>Preço</label>-->
		<!--   <input class="form-control" type="number" name="price" placeholder="Preço">-->
		<!--</div>-->